/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* LAYOUT */

html {
    font-family: "Roboto", sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row-reverse {
	flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
}


.col-100 {
	width: 100%;
}

.col-80 {
	width: 80%;
}

.col-40 {
	width: 40%;
}

.col-60 {
	width: 60%;
}

.col-33 {
	width: calc(100% / 3);
}

.col-16 {
	width: calc(100% / 6);
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.container-sm {
	max-width: 720px;
	margin: 0 auto;
    display: flex;
}

.btn-pill {
    border-radius: 999px;
    border: 2px solid;
    padding: 10px;
    align-content: center;
    padding: 20px;
}

.bg-white {
    background-color: white;
}

.title {
    font-size: 40px;
}

.align-center {
    text-align: center; /* orizzontale */
}
/* UTILITIES  */

.order-first {
	order: -999;
}

.bg-gray {
	background-color: #efefef;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.white-font {
    color: white;
}

.black-font {
    color:black;
}

.bg-black {
    background-color: black;
}

.bg-azure {
    background-color: #F6F6F6;
}

.blue-font {
    color: blue;
}
/* HEADER  */

.main-header {
    padding: 20px;
    background-color: #255EE9;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar .menu {
    display: flex;
    gap: 20PX;
    justify-content: space-between;
    align-items: center;
}

.discord-logo {
    max-width: 150px;
}

.col-100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body-text {
    text-align: center;
    line-height: 35px;
}
/* MAIN */

.hero .col-100 {
    max-width: 920px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 80px;
    gap: 60px;

}

.hero .row {
	justify-content: center;
}

.hero {
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

.feature {
    margin: 0 auto;
    padding: 50px;
}

.col-40 > * {
    padding: 10px;
}

p {
    line-height: 25px;
}

.blabla {
    background-image: url(/img/stars.svg);
    background-size:contain ;
    background-repeat: no-repeat;
    padding: 30px;
    align-items: center;
}


/* DEBUG */

.debug .navbar .row > * {
    background-color: green;
    border: 2px dashed black;
    padding: 8px;
}

.debug.hero {
    background-color: blue;
    color: white;
    padding: 50px 0;
}

.debug.hero .row > * {
    border: 2px dashed black;
    background-color: violet;
    min-height: 400px;
}

.debug.feature .row > * {
    border: 2px dashed black;
    min-height: 300px;
}

.debug.feature .col-40 { 
    background-color: pink ;
}

.debug.feature .col-60 { 
    background-color: cornflowerblue;
}

.debug.main-footer {
background-color: chartreuse;
}

.debug.main-footer .row > * {
    border: 2px dashed black;
    min-height: 300px;
}
