/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* LAYOUT */

html {
    font-family: "Roboto", sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row-reverse {
	flex-direction: row-reverse;
}

.col-100 {
	width: 100%;
}

.col-80 {
	width: 80%;
}

.col-40 {
	width: 40%;
}

.col-60 {
	width: 60%;
}

.col-33 {
	width: calc(100% / 3);
}

.col-16 {
	width: calc(100% / 6);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.container-sm {
	max-width: 720px;
	margin: 0 auto;
}

.btn-pill {
    border-radius: 999px;
    border: 2px solid;
    padding: 10px;
}

.bg-white {
    background-color: white;
}

.title {
    font-size: 40px;
}
/* UTILITIES  */

.order-first {
	order: -999;
}

.bg-gray {
	background-color: #efefef;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.white-font {
    color: white;
}

.black-font {
    color:black;
}

.bg-black {
    background-color: black;
}

/* HEADER  */

.main-header {
    padding: 20px 0;
    background-color: #255EE9;
}

.navbar .menu {
    display: flex;
    gap: 20PX;
    justify-content: space-between;
    align-items: center;
}

.discord-logo {
    max-width: 150px;
}

.col-100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body-text {
    text-align: center;
    line-height: 35px;
}
/* MAIN */

.hero .col-100 {
    max-width: 920px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 80px;
    min-height: 600px;
}

.hero .row {
	justify-content: center;
}

.hero {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    min-height: 400px;
}

.feature {
    max-width: 920px;
    min-height: 400px;
    margin: 0 auto;
    padding: 50px;
}

.col-40 > * {
    padding: 10px;
}

p {
    line-height: 25px;
}

/* DEBUG */

.debug .navbar .row > * {
    background-color: green;
    border: 2px dashed black;
    padding: 8px;
}

.debug.hero {
    background-color: blue;
    color: white;
    padding: 50px 0;
}

.debug.hero .row > * {
    border: 2px dashed black;
    background-color: violet;
    min-height: 400px;
}

.debug.feature .row > * {
    border: 2px dashed black;
    min-height: 300px;
}

.debug.feature .col-40 { 
    background-color: pink ;
}

.debug.feature .col-60 { 
    background-color: cornflowerblue;
}
